@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #004643;
  color: #e7e7e7;
  height: 70px;
  align-items: center;
  border-bottom: 0.2px solid #abd1c6;
}

nav .iconDensity {
  display: none;
  margin-right: 10%;
}

nav .logo, footer div a .logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  height: auto;
  width: 100px;
  margin-left: 10%;
}

nav .logo:hover, footer div a .logo {
  cursor:context-menu;
}

nav ul {
  display: flex;
  list-style: none;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: #e7e7e7;
}

nav ul li:hover {
  color: #00dc93;
  transition: .3s;
}

/* Screen Mobile */
@media screen and (max-width: 576px) {
  nav .iconDensity {
    cursor: pointer;
    display: flex;
  }

  nav .iconDensity:hover {
    color: #00dc93;
  }

  nav ul {
    position: absolute;
    flex-direction: column;
    background-color: #004643;
    top: 0;
    width: 100%;
    margin-top: 69px;
    height: 30vh;
    justify-content: space-around;
    transition: all 1s;
  }

  nav ul.visible {
    transform: translateY(-150%);
  }
}